# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
!android/
android/build/
android/.gradle/
android/app/build/
android/app/.gradle/
ios/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Build
*.apk
*.aab
*.ipa

# Secrets
google-services.json

# Keystore files (NEVER commit!)
*.keystore
*.jks
keystore.properties
@nitesh2kaushik__reveda.jks
